.panel {
    padding: 0 18px;
    background-color: rgb(0, 0, 0);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.accordion {
    background-color: #52525200;
    color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.1s;
}
.active, .accordion:hover {
    background-color: #00076b;
}
